/* 
 * overwrite the current primary color of the 
 * theme that is used as fallback in codeblocks 
 */
.article pre code {
	color:#303030;
  font-weight:550;
}


/*	
	HIGHLIGHT.JS THEME 

	tweaked version of the Github theme
*/

.hljs {
display:block;
overflow-x:auto;
}

.hljs-comment,
.hljs-quote {
color:#303030;
font-style:italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
color:#303030;
font-weight:550;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
color:#303030;
}

.hljs-string,
.hljs-doctag {
color:#789d57;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
color:#303030;
font-weight:550;
}

.hljs-subst {
font-weight:550;
}

.hljs-type,
.hljs-class .hljs-title {
color:#303030;
font-weight:550;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
color:#303030;
font-weight:550;
}

.hljs-regexp,
.hljs-link {
color:#009926;
}

.hljs-symbol,
.hljs-bullet {
color:#303030;
}

.hljs-built_in,
.hljs-builtin-name {
color:#303030;
}

.hljs-meta {
color:#303030;
font-weight:550;
}

.hljs-deletion {
background:#fdd;
}

.hljs-addition {
background:#dfd;
}

.hljs-emphasis {
font-style:italic;
}

.hljs-strong {
font-weight:550;
}
