{{ partial "head" . }}
<div class="single-page">
  {{ partial "nav" . }}
</div>
<div class="page documentation">
    <div class="side-menu" id="side-menu">
    {{ $currentNode := .}}
    {{  range .Site.Menus.main.ByWeight  }}
        <a href="{{.URL}}" class="side-menu__item__link">
          <p class="side-menu__item__link__text">{{ .Name }}</p>
        </a>
        <ul class="side-menu__sub">
          {{ range .Children }}
            <li class="side-menu__sub__item {{ if eq .URL $currentNode.Permalink }} active {{ end }}">
              <a id="menu-link-{{.URL}}" class="side-menu__sub__item__text" href="{{.URL}}" data-url="{{.URL}}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
    {{ end }}
    </div>
    <div class="content">
      <h1 class="content-header">{{ replace .Title "-" " "  }} </h1>
      <div class="markdowned">
      <div class="doc-page">
      <div class="doc-page-index">
      <ul id="gumshoe-container" data-gumshoe>
      </ul>
      </div>
      <div class="doc-page-body">  
          <table cellpadding="0">
            <tr>
              <td width = "8%"></td>
              <td>Name</td>
              <td><a href = "/rstudio/pro-drivers/">RStudio Pro Driver</a></td>
              <td><a href = "/dplyr">dplyr support</a></td>
              <td>Connect via R package</td>
            </tr>
            {{ range (.Paginator 100).Pages }}
              <tr>
                <td>
                  {{if .Params.logo }}<img src =  "{{ .Params.logo }}" width = 200>{{ end }}
                  {{if not .Params.logo }} <i class="fa fa-database fa-1x" aria-hidden="true"></i> {{ end }}
                </td>
                <td><a  href = "{{ .URL }}">{{ .Title }} </td>
                <td>
                  {{if eq .Params.driver "Yes" }} <i class="fa fa-check fa-1x" aria-hidden="true"></i> {{ end }}
                  {{if eq .Params.driver "No" }} <i class="fa fa-times fa-1x" aria-hidden="true"></i> {{ end }}
                </td>
                <td>
                  {{if eq .Params.dplyr "Yes" }} <i class="fa fa-check fa-1x" aria-hidden="true"></i> {{ end }}
                  {{if eq .Params.dplyr "No" }} <i class="fa fa-times fa-1x" aria-hidden="true"></i> {{ end }}
                </td>
                <td>{{ .Params.package }}</td>
              </tr>
           {{ end }}
          </table>
      </div>
      </div>
      </div>
      {{ partial "footer" .}}
    </div>
</div>
</body>
</html>
